.about{
    position: relative;
    padding: 50px 0 50px;
}

.about__container{
    display: flex;
    @media (max-width: 992px) {
    display: block;
    }
}

.about__left-column{
    display: flex;
    flex: 0 1 50%;
    flex-direction: column;
    justify-content: center;
    padding: 30px 20px 30px 30px;
    align-items: flex-end;
}  

.about__left-column-wrapper{
    width: 100%;
    max-width: 550px;
    @media (max-width: 992px) {
        max-width: none;
        text-align: center;
        }
}  

.about__left-column-heading{
    margin: 0 auto 60px 0;
    text-align: left;
    max-width: 460px;
    @media (max-width: 992px) {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
        }
}

.about__right-column{
    min-height: 700px;  
    flex: 0 1 50%;
    @media (max-width: 992px) {
        min-height: 0;
        padding-bottom: 65%;
        position: relative;
        }
}

.about__video{
    position: relative;
    height: 100%;
    width: 100%;
    @media (max-width: 992px) {
        position: absolute;
        top: 0;
        left: 0;
        }
}   

.about__video-player{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__video-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;  
}

.about__icon-video-btn{
    fill: #fff; 
}

