.advantages{
    padding: 100px 0 75px; 
    @media (max-width: 767px){
        padding: 25px 0 75px; 
       }
}

.advantages__list{
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}  

.advantages__item{
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;

    @media (max-width: 767px){
        flex-basis: calc(100% / 2 - 30px);
       }  
       @media (max-width: 540px){
        flex-basis: calc(100% - 30px);
}
}

.advantages__icon{
    position: relative;  
    margin-bottom: 35px; 
    &:after {
        content: '';
        width: 70px;
        position: absolute;
        top: 50%;
        left: 60px;
        transform: translateY(-50%);
        padding-bottom: 10%;
        background: url(../assets/icons/twirl-right.svg) center no-repeat;
     
    }
}

.advantages__title{
    margin-bottom: 10px;
    font-family: $secondary-font;
    font-size: 24px;
    line-height: 1.2;
    text-transform: capitalize;
    color: $titles-color;
}

.advantages__text{
    font-size: 16px;
    line-height: 1.7;
    color: $text-color; 
}