.cart-page {
  padding: 150px 0 75px;
}

.cart-page__content {
  display: flex;

  @media (max-width: 991px) {
    display: block;
  }
}

.cart-page__content-left {
  flex: 1 1 auto;
  @media (max-width: 991px) {
    margin-bottom: 40px;
  }
}

.cart-page__content-right {
  flex: 0 0 330px;
  padding-left: 50px;
  @media (max-width: 991px) {
    padding-left: 0;
  }
}

.cart-page__products {
  padding-right: 60px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);

  @media (max-width: 991px) {
    padding-right: 0px;
    border-right: none;
  }
}

.cart-page__products-header {
  display: flex;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid #111111;
  font-size: 16px;
  line-height: 170%;
  color: $text-color;
}

.cart-page__products-header-product {
  flex: 1 1 auto;
  margin-right: 20px;
}

.cart-page__products-header-quantity {
  flex: 0 0 145px;
}

.cart-page__products-header-subtotal {
  flex: 0 0 110px;
  text-align: right;
}

.cart-page__product-item {
  display: flex;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  padding-bottom: 10px;
  margin-bottom: 30px;

  & .order-card-remove-btn {
    margin: 0;
  }
}

.cart-page__product-link {
  flex: 0 0 130px;
  width: 130px;
  height: 130px;
  margin-right: 20px;

  & img {
    height: 100%;
  }
}

.cart-page__product-info {
  position: relative;
  flex: 1 1 auto;
}

.cart-page__product-info-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.cart-page__product-info-title {
  max-width: 320px;
  font-size: 16px;
  font-weight: normal;
  line-height: 170%;
  color: $text-color;
}

.cart-page__product-info-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
}

.cart-page__price-container {
  flex: 1 1 auto;
  margin-right: 20px;
}

.cart-page__price {
  display: inline;
  font-weight: 500;
  font-size: 16px;
  line-height: 170%;
  color: $titles-color;
  margin-right: 10px;
}

.cart-page__old-price {
  display: inline;
  font-size: 14px;
  line-height: 170%;
  text-decoration-line: line-through;
  color: $grey-color;
}

.cart-page .product-page__quantity-buttons {
  flex: 0 0 110px;
  margin-right: 40px;
  margin-bottom: 0;
}

.cart-page__product-info-subtotal {
  flex: 0 0 110px;
  font-weight: 500;
  font-size: 16px;
  line-height: 170%;
  color: $titles-color;
  text-align: right;
}

.cart-page__product-services {
  position: absolute;
  bottom: 53px;
  left: 0;
  color: #ec9dab;

  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  //   align-items: center;
  //   text-align: right;
}

.cart-page__product-services-label {
  // width:470px;
}

.cart-page__product-services-cost {
  font-weight: 500;
}

.cart-page__promo-row-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
  max-width: 730px;
}

.cart-page__promo-code {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
  margin-right: 20px;
  width: 100%;
}

.cart-page__promo-code-input {
  flex: 0 0 calc(100% - 40px);
  align-items: center;
  width: 100%;
  min-height: 40px;
  border: none;
  border-bottom: 1px solid rgba(85, 85, 85, 0.2);
  background: transparent;
  outline: none;
}

.cart-page__promo-msg {
  position: absolute;
  top: 50px;
  left: 0;
  font-size: 18px;
  color: $main-color;

  &--alert {
    @extend .cart-page__promo-msg;
    color: red;
  }
}

.cart-page__promo-msg-btn {
  border: none;
  background-color: transparent;
  color: $grey-color;
  cursor: pointer;

  &:hover {
    color: $main-color;
  }
}

.cart-page__send-btn {
  display: flex;
  flex: 0 0 36px;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgba(85, 85, 85, 0.2);
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.cart-page__update-btn {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  background-color: transparent;
  line-height: 170%;
  color: #2f3237;
  cursor: pointer;

  &:hover {
    color: $main-color;
  }
}
.update-btn {
  margin-right: 14px;
}

.cart-page__promo-row-2 {
  max-width: 555px;
}

.cart-page__promo-title {
  margin-bottom: 20px;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 120%;
  text-transform: capitalize;
  color: $titles-color;
}

.cart-page__promo-text {
  font-size: 14px;
  line-height: 170%;
  color: $text-color;
}

.cart-page__product-addinfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cart-addinfo-btn,
.cart-addinfo-btn--options,
.cart-addinfo-btn--credit,


//MODAL
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  //z-index: -10;

  &--checkout {
    @extend .modal-overlay;
  }
}
/* OPEN/CLOSE MODAL */
.open-modal {
  visibility: visible;
  z-index: 900;
}
.modal-window {
  background: #ffffff;
  border-radius: 5px;
  width: 90vw;
  height: 500px;
  max-width: 730px;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;

  &--checkout {
    @extend .modal-window;
    max-width: none;
    height: 90vh;
  }
}
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  & i {
    color: $grey-color;
  }
}
.close-btn:hover {
  color: $main-color;
  transform: scale(1.3);
}

.modal-container {
  width: 90%;
  height: 70%;
  &--checkout {
    @extend .modal-container;
    height: 80%;
    outline: 1px solid pink;
  }
}

// Credit

.credit-component__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 24px;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 1.7;
}

.credit-component__icon {
  align-self: flex-start;
  flex-shrink: 0;
  width: 24px;
  // margin-right: 16px;
}

@media (min-width: 768px) {
  .credit-component__item {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.credit-component__heading {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 24px;
  box-sizing: border-box;
}
@media (min-width: 1024px) {
  .credit-component__heading {
    width: 30%;
    margin-bottom: 0;
    padding-right: 16px;
  }
}

.credit-component__period {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 24px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .credit-component__period {
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin-bottom: 0;
    padding-right: 16px;
  }
}
@media (min-width: 1024px) {
  .credit-component__period {
    width: 37%;
  }
}

.credit-component__period-label {
  margin-right: 16px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .credit-component__period-label {
    margin-bottom: 0;
  }
}

.credit-component__period-select {
  display: flex;
  align-items: center;
  border: 0;
  border-bottom: 1px solid rgba(85, 85, 85, 0.2);
  min-height: 40px;
  background: transparent;
  color: #888888;
}

.credit-component__payment {
  width: 33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//modal services
.cart-services__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 170%;
  color: #555555;
  margin-bottom: 20px;
}

.cart-services__product-name {
  display: block;
  max-width: fit-content;
  margin: 0 auto;
  background-color: rgba(236, 157, 171, 0.3);
}

.cart-services__list {
  margin-bottom: 25px;
}

.cart-services__wrapper {
  margin-bottom: 10px;

  & .cart-services__checkbox {
    display: none;
  }
}

.cart-services__label {
  display: flex;
  position: relative;
  font-size: 18px;
  line-height: 1.7;
  color: #555555;
  cursor: pointer;

  &::before {
    margin-top: 3.5px;
    margin-right: 15px;
    content: '';
    height: 14px;
    min-width: 14px;
    background-color: #f8f8fa;
    border: 1px solid rgba(17, 17, 17, 0.1);
  }
}

.cart-services__wrapper .cart-services__checkbox:checked + .cart-services__label::before {
  background-image: url(../assets/icons/check-mark.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.cart-page__product-credit {
  display: flex;
  position: absolute;
  bottom: 53px;
  right: 0;
  color: $main-color;
}

.cart-page__product-credit-label {
  min-width: 210px;
}
.cart-page__product-credit-numpayments {
  min-width: 15px;
  font-weight: 500;
}
.cart-page__product-credit-payment {
  display: inline-block;
  min-width: 40px;
  padding-left: 5px;
  font-weight: 500;
}
