//CHECKOUT HERO

.checkout-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 350px;
  margin-top: 165px;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(152, 152, 156, 0.4), rgba(152, 152, 156, 0.4)),
    url('../assets/hero/landing3.jpg');
}

.checkout-hero__title {
  font-family: $secondary-font;
  font-size: 65px;
  font-weight: 400;
  line-height: 1.11;
  letter-spacing: 0em;
  text-align: center;
  color: $titles-color;
}

.checkout-delivery {
  padding-top: 150px;
  padding-bottom: 100px;

  @media (max-width: 991px) {
    padding-top: 100px;
    padding-bottom: 75px;
  }

  @media (max-width: 767px) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}
.checkout-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.checkout-nav__item {
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0em;
  color: $text-color;

  &:not(:last-child)::after {
    content: '-';
    margin: 0 10px;
  }
}

.checkout-active {
  color: $titles-color;
  font-weight: 500;
}

.checkout-steps {
  display: flex;
  padding-bottom: 50px;
  justify-content: space-evenly;
}

.checkout-steps__item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.checkout-steps__title {
  font-family: $secondary-font;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.2;
  text-transform: capitalize;
  color: $titles-color;

  @media (max-width: 767px) {
    font-size: 16px;
  }

  @media (max-width: 575px) {
    font-size: 12px;
  }
}

.checkout-icon-twirl {
  @media (max-width: 991px) {
    display: none;
  }
}

.checkout-back {
  display: inline-flex;
  align-items: center;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.7;
  text-transform: uppercase;
  color: $titles-color;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: $main-color;
  }
}

.form-wrapper {
  display: flex;
  @media (max-width: 991px) {
    display: block;
  }
}

// DELIVERY FORM BLOCK
.delivery-form {
  flex: 1 1 auto;
  margin-right: 60px;
  @media (max-width: 991px) {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

.delivery-form__title {
  margin-bottom: 30px;
  font-family: $secondary-font;
  font-size: 18px;
  line-height: 1.2;
  text-transform: capitalize;
  color: $titles-color;
}
.comments-title {
  margin-top: 30px;
}

.delivery-form__block {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  margin-bottom: 50px;

  @media (max-width: 575px) {
    display: block;
    margin-top: 0;
    margin-left: 0;
  }
}

.delivery-form__block.collapsible-section {
  margin-top: 0;
  margin-bottom: 0;
}

.delivery-form__input-wrapper {
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  &--address {
    @extend .delivery-form__input-wrapper;
    flex: 0 1 100%;
  }
}

.delivery-form__input {
  display: flex;
  align-items: center;
  border: 0;
  border-bottom: 1px solid rgba(85, 85, 85, 0.2);
  min-height: 40px;
  width: 100%;
  background: transparent;
  font-size: 14px;
  line-height: 1.7;
  color: $grey-color;

  &:focus {
    outline: none;
    border-bottom: 1px solid $main-color;
  }
}

.delivery-form__textarea {
  width: 100%;
  min-height: 110px;
  display: flex;
  align-items: center;
  border: 0px;
  border-bottom: 1px solid rgba(85, 85, 85, 0.2);
  resize: none;
  font-size: 14px;
  line-height: 1.7;
  color: $grey-color;

  &:focus {
    outline: none;
    border-bottom: 1px solid $main-color;
  }
}

.delivery-form__checkbox-wrapper {
  margin-bottom: 10px;
}

.delivery-form__checkbox-label {
  display: flex;
  position: relative;
  font-size: 14px;
  line-height: 1.7;
  color: $text-color;
  cursor: pointer;

  &::before {
    margin-top: 3.5px;
    margin-right: 15px;
    content: '';
    height: 14px;
    min-width: 14px;
    background-color: #f8f8fa;
    border: 1px solid rgba(17, 17, 17, 0.1);
  }
}
.delivery-form__checkbox-wrapper .delivery-form__checkbox {
  display: none;
}
.delivery-form__checkbox-wrapper .delivery-form__checkbox:checked + .delivery-form__checkbox-label::before {
  background-image: url(../assets/icons/check-mark.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

// DELIVERY FORM BLOCK
.payment-method {
  margin-bottom: 6px;
}

.payment-method__radio-wrapper {
  display: flex;
  align-items: center;
  min-height: 50px;
  border-top: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
}

.payment-method__radio-input {
  visibility: hidden;
  &-secondary {
    margin-left: 20px;
  }
}
.payment-method__radio-input:checked + .payment-method__radio-label::after {
  transform: translateY(-50%) scale(1);
}

.payment-method__radio-label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 30px;
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-transform: capitalize;
  color: $titles-color;
  cursor: pointer;

  &::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #888888;
  }

  &::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    transform: translateY(-50%) scale(0);
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background: $titles-color;
    left: 4px;
  }

  &--secondary {
    @extend .payment-method__radio-label;
    font-size: 16px;
  }
}

.payment-method__image-wrapper {
  min-width: 50px;
  background: #f5f9fa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 3px;
}

.card-details {
  max-width: 345px;
  padding: 50px 0 50px;
  border: 0;
}

.card-details__title {
  display: block;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  color: $titles-color;
}

.card-details__input {
  display: flex;
  align-items: center;
  min-height: 40px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(85, 85, 85, 0.1);
  background: transparent;

  &:focus {
    outline: none;
    border-bottom: 1px solid $main-color;
  }
}

.card-details__titles {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.card-details__data {
  display: flex;
  justify-content: space-between;
}

.card-details__input-wrapper {
  flex: 0 1 calc(100% / 3 - 30px);
}

.pickup-store-map {
  flex: 1;
  height: 100%;
}
.pickup-store-selection-panel {
  display: flex;
  flex-direction: column;
  padding: 2px;
  height: 70vh;
  width: 250px;
}

.pickup-store-address-lookup {
  display: flex;
  align-items: center;
  border: 0;
  border-bottom: 1px solid rgba(85, 85, 85, 0.2);
  min-height: 40px;
  width: 100%;
  background: transparent;
  font-size: 14px;
  line-height: 1.7;
  color: $grey-color;
  margin-bottom: 5px;

  &:focus {
    outline: none;
    border-bottom: 1px solid $main-color;
  }
}

.pickup-store-list-container {
  display: flex;
  height: 100%;
  overflow: auto;
  justify-content: center;
  overflow-x: hidden;
  margin-top: 5px;
}
.pickup-store-list {
  padding: 1px;
  width: 100%;
}
.pickup-store-list-item {
  display: flex;
  align-items: center;
  height: 30px;
  text-align: left;
  border-color: lightgrey;
  border-style: solid;
  border-width: 1px;
  margin: 1px;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    border-color: pink;
  }
  &.store-selected {
    border-width: 2px;
  }
}
.pickup-store-list-item-id {
  width: 50px;
}

.pickup-store-details {
  border-color: lightgrey;
  border-style: solid;
  border-width: 1px;
  height: 180px;
  margin: 10px 1px;
  padding: 4px;
}

.pickup-store-details-address {
  font-size: 12px;
}
.pickup-store-details-workhours {
  font-size: 10px;
}

.delivery-form__home-delivery__sub-type__container {
  margin-left: 50px;
  font-size: 12px;
}

.delivery-form__home__sub-type__container {
  margin-left: 50px;
  font-size: 12px;
}

.delivery-form__pickup-delivery__store-selector__container {
  height: 80px;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
}

.delivery-form__pickup-store_address {
  margin: 10px 10px;
  width:500px;
  height: 40px;
  font-family: 'Sulphur Point', sans-serif;
  font-weight: 700;
  font-size: 18px;
  border:none;
  outline: none;
}

.pickup-btn {
  position: relative;
  margin: 10px 10px 10px 50px;
  height: 40px;
  padding: 8px 20px;
  border: 1px solid $main-color;
  background: transparent;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  line-height: 170%;
  text-transform: uppercase;
  color: $main-color;
  transition-property: color, border, background-color;
  transition-timing-function: 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $main-color;
    color: #ffffff;
  }
}

.checkout-submit__wrapper {
  display: flex;
  @media (max-width: 991px) {
    display: block;
  }
}

.checkout-submit__message {
  flex: 1 1 auto;
  margin-right: 60px;
  @media (max-width: 991px) {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

.checkout-opacity {
  opacity: 40%;
}

.checkout__thank-you {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.pickup-store-choose {
  height: 40px;
  margin-bottom: 10px;
}

.pickup-store-choose-btn {
  height: 40px;
  padding: 8px 20px;
  border: 1px solid #ec9dab;
  background: transparent;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  line-height: 170%;
  text-transform: uppercase;
  color: #ec9dab;
  transition-property: background-color, color, border;

  &:hover {
    background-color: $main-color;
    color: #ffffff;
  }
}
