.footer{
    position: relative;
    padding-top: 110px;
    background: url("../assets/footer/petals-footer.png") no-repeat;
    background-color: $light-bg-color;

    @media (max-width: 767px){
    padding-top: 50px;
}
}

.footer__container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    z-index: 10;  
}

.footer__logo-wrapper{
    position: relative;
    text-align: center;
    &::after{
        position: absolute;
        content: '';
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: 100vw;
        z-index: 10;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0.01) 75%, rgba(0, 0, 0, 0.1) 100%);
    }
}

.footer__logo{
    margin: 0 auto;  
    max-width: 248px;
    width: 100%;
}

.footer-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;

    @media (max-width: 767px){
        justify-content: space-evenly;
        text-align: center;
        margin-bottom: 0;
    
    }
}

.footer-main__section-1{
    margin-bottom: 40px;
    flex: 0 1 50%;
    margin-right: 3%;

    @media (max-width: 767px){
        flex: 0 1 100%;
        margin-right: 0;
    }
}

.footer-main__form-title{
    margin-bottom: 10px;  
    color: $titles-color;
    font-family: $secondary-font;
    font-size: 24px;
    line-height: 1.2;
    text-transform: capitalize;
}

.footer-main__form-text{
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.7;
    color:$text-color;
}

.footer-main__input-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.footer-main__form-input {
    flex: 0 0 calc(100% - 40px); 
    width: 100%;
    align-items: center;
    border: 0;
    border-bottom: 1px solid rgba(85, 85, 85, 0.2);
    background: transparent; 
}

.footer-main__form-btn{
    flex: 0 0 30px;
    justify-content: center;
    align-items: center; 
    min-height: 55px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(85, 85, 85, 0.2); 
}

.send-icon{
    display: inline-block;
}

.footer-main__section-2{
    flex: 0 0 160px; 
    margin-bottom: 40px;
    margin-right: 4%;
    font-size: 14px;
    line-height: 1.7;
    color: $text-color;  
    @media (max-width: 767px){
        margin-left: 4%;
    }
}

.footer-main__title{
    margin-bottom: 20px; 
    font-family: $secondary-font;
    font-size: 20px;
    line-height: 1.2;
    text-transform: capitalize;
    color: $titles-color; 
}

.footer-main__contact{
    display: block;
    margin-bottom: 10px; 
    font-size: 14px;
    line-height: 1.7;
    color: $text-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover{
    color: $main-color;
    }
}

.footer-main__section-3{
    flex: 0 0 110px; 
    margin-bottom: 40px;
    margin-right: 4%;
    font-size: 14px;
    line-height: 1.7;
    color: $text-color; 

    @media (max-width: 767px){
        margin-left: 4%;
    } 
}

.socials__item{
margin-bottom: 10px;
}

.socials__link{
    font-size: 14px;
    line-height: 1.7;
    color:  $text-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover{
    color: $main-color;
    }
    }

.footer-copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    padding: 10px 0;
    font-size: 14px;
    line-height: 1.7;
    color: $grey-color;
    border-top: 1px solid rgba(136, 136, 136, 0.2);

    @media (max-width: 767px){
        justify-content: space-evenly;
        text-align: center;
    } 
}




