.gift{
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 66px 0 150px;

    @media (max-width: 1170px){
        justify-content: center;
       }  
       @media (max-width: 767px){
        margin: 0 0 84px;
}

background:url("../assets/hero/wedding_landing2.jpg");
background-size: cover;
// background-color: $light-bg-color;
}

.gift__content{
    position: relative;
    display:flex;
    flex: 0 1 50%;
    min-height: 900px;
    flex-direction: column;
    justify-content: center;
    padding: 30px 15px;
    z-index: 10;

    @media (max-width: 1170px){
        flex: 0 1 100%;
        max-width: 550px;
       }

       @media (max-width: 767px){
        min-height: 600px;
}
} 

.time{
    display: flex;
    gap:30px;
    margin-top: 40px;
    margin-bottom: 60px; 

    @media (max-width: 767px){
        gap:15px;
}
}

.time__units{
    position: relative;
    display: block;
    min-width: 45px;
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    &--black{
        @extend .time__units;
    color: $titles-color;
    }

    &--pink{
        @extend .time__units;
    color: $main-color;
    }
  
       @media (max-width: 767px){
        font-size: 26px;
}
}

.time__name{
    font-size: 16px;
    line-height: 1.7;
    color: $text-color; 
   
       @media (max-width: 767px){
        font-size: 14px;
}
}

.time__item:nth-child(3) .time__units--pink:after {
    position: absolute;
    content: ':';
    top: -10%;
    left: 115%;
    color: $main-color;

    @media (max-width: 767px){
        gap:15px;
        left: 95%;
}
}

