.instagram{
    position: relative;
    display: flex;
    padding: 75px 0 150px;
    align-items: center;
    background: url("../assets/instagram/petals-instagram.png") no-repeat;

    @media (max-width: 992px) {
    display: block;
    }
    @media (max-width: 767px){
        padding: 0 0 75px; 
       }
}

.instagram__left-column{
    display: flex;
    flex: 0 1 40%;
    flex-direction: column;
    justify-content: center;
    min-height: 315px;
    padding: 0 30px;
    align-items: flex-end;
}  

.instagram__left-column-wrapper{
    width: 100%;
    max-width: 380px;
    @media (max-width: 992px) {
        max-width: none;
        text-align: center;
        }
}  

.instagram__left-column-heading{
    margin: 0 auto 40px 0;
    text-align: left;
    max-width: 500px;
    @media (max-width: 992px) {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
        }
}

.instagram__btn{
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.7;
    text-transform: uppercase;
    color: $titles-color;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover{
    color: $main-color;
    }
}

.arrow-icon{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    }

.instagram__btn:hover:after{
    color: $main-color;
}


.instagram__right-column{
    flex: 0 1 60%;
}

.instagram-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: -2px;
    margin-left: -2px;
}

.instagram-list__item{
    position: relative;
        flex-basis: calc(100% / 4 - 2px);
        margin-left: 2px;
        margin-top: 2px;
    
        @media (max-width: 767px){
            flex-basis: calc(100% / 2 - 2px);
           }  

           &:nth-child(even){
            bottom:30px;
        }
}