.shop {
  padding-top: 150px;
  padding-bottom: 108px;
}

.product-page__head {
  display: flex;
  margin-bottom: 80px;

  @media (max-width: 991px) {
    display: block;
  }
}

.product-page__head-left {
  display: flex;
  flex: 0 0 60%;
  margin-right: 58px;

  @media (max-width: 991px) {
    margin-right: 0;
    margin-bottom: 60px;
  }
}

.product-page__mini-photos-container {
  flex: 0 0 120px;
  margin-right: 10px;
  height: 590px;
}

.product-page__mini-photo {
  width: 120px;
  height: 140px;
  margin-bottom: 10px;
  cursor: pointer;
  flex-shrink: 0;
}

.product-page__mini-photo-img {
  object-fit: cover;
}

.product-page__main-photo-container {
  flex: 1 1 auto;
}

// .product-page__main-photo-img {
//   object-fit: cover;
// }

.product-page__head-right {
  flex: 1 1 auto;
}

.product-page__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  text-transform: capitalize;
  color: $titles-color;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  margin-bottom: 21px;
}

.product-page__numbers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.product-page__price-container {
  margin-right: 15px;
}

.product-page__price {
  display: inline-block;
  margin-right: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 170%;
  color: $titles-color;
}

.product-page__old-price {
  display: inline-block;
  font-size: 18px;
  line-height: 170%;
  text-decoration-line: line-through;
  color: $grey-color;
}

.rating {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
//   width: 110px;
//   padding: 5px;
  background: transparent;
  overflow: hidden;
}

.rating__number {
  font-size: 16px;
  color: $text-color;
  pointer-events: none;
}

.rating__star {
  font-size: 12px;
  cursor: pointer;
  color: #ffc107;
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    filter: drop-shadow(1px 1px 4px gold);
  }

}

.fas{
    color: #ffc107;
}

.product-page__short-desc {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 170%;
  color: $text-color;
}

.product-page__quantity-buttons {
  position: relative;
  display: flex;
  width: 110px;
  height: 40px;
  background: #f8f8fa;
  margin-bottom: 70px;
}

.product-page__decrease-icon,
.product-page__increase-icon {
  fill: $grey-color;

  &:hover {
    fill: $main-color;
  }
}

.product-page__decrease-btn,
.product-page__increase-btn {
  flex: 0 0 30px;
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.product-page__item-amount {
  flex: 1 1 auto;
  background: #f8f8fa;
  height: 100%;
  color: #555555;
  font-size: 16px;
  width: 100%;
  text-align: center;
  line-height: 250%;
}

.stock-message{
position: absolute;
top:0;
left:130px;
height: 40px;
width: 200px;
color: $main-color;
line-height: 40px;

&--cart {
  @extend .stock-message;
  top:-40px;
  left:0;
}
}

.product-page__cart-buttons {
  display: flex;
  gap: 20px;
}

.like-btn {
  background: #f8f8fa;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  border: transparent;
  cursor: pointer;

  & svg {
    fill: $text-color;
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      fill: $main-color;
    }
  }
}

.product-page__description {
  display: flex;
  margin-bottom: 108px;
}

.product-page__description-left {
  flex: 0 0 60%;
  margin-right: 58px;

  @media (max-width: 991px) {
    margin-right: 0;
    margin-bottom: 60px;
  }
}

.product-page__description-title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 120%;
  text-transform: capitalize;
  color: $titles-color;
  margin-bottom: 20px;
}

.product-page__description-text {
  font-size: 16px;
  line-height: 170%;
  color: $text-color;
}

.product-page__description-right {
  flex: 1 1 auto;
  padding-top: 32px;
}

.description-table__title {
  font-size: 16px;
  line-height: 170%;
  color: $titles-color;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  padding: 15px 0;
  vertical-align: top;
  text-align: right;
  padding-right: 20px;
}

.description-table__text {
  font-size: 16px;
  line-height: 170%;
  color: $text-color;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  padding: 15px 0;
  vertical-align: top;
}

.product-page__reviews {
  display: flex;
}

.product-page__reviews-left {
    display: flex;
    flex-direction: column;
  flex: 0 0 60%;
  margin-right: 59px;
}

.reviews__item {
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.1); 
}

.reviews__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.reviews__photo {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border-radius: 50%;
  overflow: hidden;
}

.reviews__name{
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    color: $titles-color;  

    &::after{
    content: '-';
    color: $grey-color;
    margin: 0 10px;
}
    
}

.reviews__date{
    font-size: 14px;
    line-height: 170%;
    color: $grey-color;

    &::after{
    content: '-';
    color: $grey-color;
    margin: 0 10px;
}
    
}

.reviews__text{
    font-size: 16px;
    line-height: 170%;
    color: $text-color; 
}

.reviews__btn{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    max-width: 135px;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 170%;
    text-transform: uppercase;
    color: $titles-color;
    cursor: pointer;
    border: none;
  background-color: transparent;

&:hover{
    background-color: $main-color;
    opacity: 50%;
}
}

.reviews__arrow{
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;  
}



.product-page__reviews-right {
  flex: 1 1 auto;
}

.review-form__header-text{
    font-size: 16px;
    line-height: 170%;
    color: $text-color;  
    margin-bottom: 40px;
}

.rating-wrapper{
    display: flex;
    margin-bottom: 30px;

    & .rating__star{
        font-size: 20px;
    }
}

.review-form__input-wrapper{
    display: block;
margin-bottom: 30px;
}

.review-form__input{
    display: flex;
    align-items: center;
    border: 0;
    border-bottom: 1px solid rgba(85, 85, 85, 0.2);
    min-height: 40px;
    width: 100%;
    background: transparent;
    font-size: 14px;
    line-height: 1.7;
    color: #888888;
}

.review-form__textarea{
    width: 100%;
    min-height: 110px;
    display: flex;
    align-items: center;
    border: 0px;
    border-bottom: 1px solid rgba(85, 85, 85, 0.2);
    resize: none;
    font-size: 14px;
    line-height: 1.7;
    color: #888888;
}

.review-form__number{
    display: none;
}

.shop-products{
  padding-bottom: 130px;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}