
  
  $slider-height: 2;
  $ball-height: $slider-height * 8;
  
  .slider-target {
    position:relative;
  }
  .range-slider {
    position: relative;
    width: 95%;
    height: #{$slider-height}px;
    margin-top:40px;
    background-color: rgba(17,17,17,0.1);
    // border-radius: #{ $slider-height * 2 }px;
    
    &__bar {
      display: flex;
      align-items: center;
      background-color: $main-color;
      position: absolute;
      top: 0;
      bottom: 0;
    }
    
    &__ball {
      position: absolute;
      display: block;
      height: #{$ball-height}px;
      width: #{$ball-height}px;
      border-radius: 50%;
      background-color: $main-color;
      transform: scale(1);
      transition: transform 100ms ease-in-out;
      cursor: pointer;
      
      &#min {
        left: calc(0% - #{$ball-height / 2}px);
      }
      
      &#max {
        right: calc(0% - #{$ball-height / 2}px);
      }
      
      &:hover {
        transform: scale(1.2);
      }

      &:after {
        content: '$' attr(data-before);
        color: $titles-color;
        cursor: pointer;
        position: absolute;
        top: -20px;
        left: 0px;
        font-size: 12px;
        line-height: 170%;
      }
    }
  }