<ul class="pickup-store-list">
{{#each this}}
<li data-store-id={{id}} class="pickup-store-list-item">
  <span class="pickup-store-list-item-id">#{{id}}:</span>
  <span class="pickup-store-list-item-location">{{city}}, {{state}}</span>
</li>
{{/each}}
</ul>