<div style='height: 100%; display:flex' class="pickup-store-window">
  <div  class="pickup-store-selection-panel">
    <input type="text" id="storePicker" class="pickup-store-address-lookup">
    <div id="storeList" class="pickup-store-list-container"></div>
    <div id="storeDetails" class="pickup-store-details"></div>
    <div  class="pickup-store-choose"><button id="storeChoose" class="pickup-store-choose-btn">Choose</button></div>
  </div>
  <div id='map' class="pickup-store-map"></div>
</div>