<div class="btn-prev"><span class="arrow-icon">&#8592</span> prev</div>
{{#each this}}
<span class="page-btn {{#if isActive}}active-btn{{/if}}" data-index="{{index}}">
        {{name}}
  </span>
{{/each}}
<div class="btn-next"> next<span class="arrow-icon">&#8594</span></div>