
<div class="l-row">
  <div class="l-column">    
    <div id="range-slider" class="push-bottom">
      <div name="slider-min" id="slider-min-control" class="slider-min-control">
      </div>
      <div name="slider-max" id="slider-max-control" class="slider-max-control">
      </div>
      <div id="slider-target"></div>
    </div>
  </div>
</div>