{{#each this}}
  <li class="reviews__item">
    <div class="reviews__header">
      <div class="reviews__photo">
        <img src="assets/testimonials/photo1.png" alt="photo" />
      </div>
      <div class="reviews__name">{{reviewUserName}}</div>

      <div class="reviews__date">{{reviewDate}}</div>

      <div class="rating">
        {{#each ratingArr}}
        <i class="rating__star {{#if this}}fas{{/if}}{{#unless this}}far{{/unless}} fa-star"></i>
        {{/each}}
   </div>
    </div>

    <div class="reviews__text">{{reviewText}}</div>
  </li>
{{/each}}