// ============= COLOR STYLES ==============  

$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Sulphur Point', sans-serif;

// ============= COLOR STYLES ==============

$main-color: #EC9DAB;
$text-color: #555555;
$titles-color:#111111;
$light-bg-color: #F8F8FA;
$grey-color: #888888;

